<!--<form #ngForm='ngForm' (ngSubmit)="formSub(ngForm)">
  <div>
    <input [(ngModel)]="name" [name]="'name'">
  </div>
  <div>
    <input [(ngModel)]="age" [name]="'age'">
  </div>
  <button>Add</button>
</form>-->


<form [formGroup]="mainForm" (ngSubmit)="formGroupSub()">
  <div *ngIf="!!mainForm.controls.name.errors?.minlength?.requiredLength">
    MinNameLength- {{mainForm.controls.name.errors?.minlength?.requiredLength}}
  </div>
  <div>
    <label> Name:
      <input [formControl]="name" type="text">
    </label>
  </div>
  <div>
    <div *ngIf="!!mainForm.controls.age.errors?.min?.min">
      Min Age- {{mainForm.controls.age.errors?.min?.min}}
    </div>
    <label> Age:
      <input [formControl]="age" type="number">
    </label>
  </div>
  <button>Add</button>
</form>

<app-user *ngFor="let user of users" [user]="user"></app-user>
